
<div class="container">
  <div class="row">
    <div class="col-12">
    <h1 class="my-5">Gardens</h1>
    <div class="cards">
      <% @gardens.each do |garden| %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= garden.banner_url %>)">
              <%= garden.name %>
              <div class="card-links">
                <%= link_to garden_path(garden), class: 'card-link' do %>
                  <i class="far fa-eye"></i>
                <% end %>
                <%= link_to edit_garden_path(garden), class: 'card-link' do %>
                  <i class="far fa-edit"></i>
                <% end %>
                <%= link_to garden_path(garden), method: :delete, 
                                              data: { confirm: 'Are you sure?'}, 
                                              class: 'card-link' do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
              </div>
            <% end %>
      </div>
    </div>
  </div>

  <div class="row justify-content-center my-5">
    <%= link_to 'New Garden', new_garden_path, class: 'btn btn-primary' %>
  </div>

</div>

